{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style" : 'warn',
    "no-use-before-define": ["error", { "variables": false }],
    "import/prefer-default-export": 0,
    "globals": {
      "fetch": false
    },
    "max-len": ["error", 150],
    "object-curly-newline": ["error", "consistent": true]
  }
}
